/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Container styling */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px;
}

/* Header styling */
header {
    background-color: #1c71d4;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px #333;
    padding: 20px;
    text-align: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

nav {
    margin-top: 10px;
}

.home-link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    background-color: #28a745;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home-link:hover {
    background-color: #218838;
}

/* Main content styling */
main {
    margin-top: 20px;
}

/* Class and ECA */
.tracker-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.extra-tracker{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 10px;
    color: white;
    font-style: bold;
    font-size: 20px;
    background-color: #007bff;
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5);
    border: black;
    border-radius: 6px;
}

.extra-tracker:hover{
    background-color: #0056b3;
    cursor: pointer;
}

/* Class Tracker */
.class-tracker {
    position: relative;
    display: inline-block;
}

/* Class Tracker */
.class-tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 10px;
    color: white;
    font-style: bold;
    font-size: 20px;
    background-color: #007bff;
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5);
    border: black;
    border-radius: 6px;
}

.class-tracker:hover{
    background-color: #0056b3;
    cursor: pointer;
}




